<link rel="stylesheet" href="/stylesheets/edit-page.css">
<div class="mx-auto shadow edit-container">
  <h1>請輸入你的支出</h1>
  <form action="/records/edit/{{_id}}?_method=PUT" method="POST">
    {{>message}}
    <input type="text" placeholder="名稱" name="name" value="{{name}}">
    <input type="date" placeholder="日期" name="date" value="{{date}}">
    <select name="categoryId">
      {{#each categories}}
        <option value="{{this._id}}" {{#ifCond this._id ../categoryId}} selected {{/ifCond}}>
          {{this.name}}
        </option>
      {{/each}}
    </select>
    <input type="number" placeholder="金額" name="amount" value="{{amount}}">
    <button class="btn btn-info" type="submit">修改</button>
  </form>
</div>