<ul>
  {{#each records}}
    <li>
      <i class="{{this.categoryId.icon}}"></i> {{this.name}} {{this.date}} {{this.amount}}
      <form action="/records/delete/{{this._id}}?_method=DELETE" method="POST"
        class="d-inline-block">
        <a class="btn btn-outline-primary" href="/records/edit/{{this._id}}">修改</a>
        <button type="submit" class="btn btn-outline-danger">刪除</button>
      </form>
    </li>
  {{/each}}
</ul>
<a class="btn btn-outline-primary ml-5" href="/records/new">新增支出</a>