<ul>
  {{#each records}}
    <li>
      <i class="{{this.categoryId.icon}}"></i> {{this.name}} {{this.date}} {{this.amount}}
      <a href="/records/edit/{{this._id}}">修改</a>
    </li>
  {{/each}}
</ul>
<a class="btn btn-outline-primary ml-5" href="/records/new">新增支出</a>