<link rel="stylesheet" href="/stylesheets/index-page.css">
{{>message}}
<div class="mx-auto shadow record-container">
  <!-- 篩選條件 -->
  <form id="form-search" action="/" method="get" data-edit_msg="{{edit_msg}}">
    <div class="form-select-block">
      <!-- categorySelected -->
      <select class="d-inline-block form-select" id="category-select" name="categoryIdSelected">
        <option value="">所有類別</option>
        {{#each categories}}
          <option value="{{this._id}}" {{#ifCond ../categoryIdSelected
            this._id}}selected{{/ifCond}}>
            {{this.name}}
          </option>
        {{/each}}
      </select>
      <!-- yearSelected -->
      <select class="d-inline-block form-select" id="year-select" name="yearSelected">
        <option value="">所有年份</option>
        {{#each allYears}}
          <option value="{{this}}" {{#ifCond ../yearSelected this}}selected{{/ifCond}}>
            {{this}}年
          </option>
        {{/each}}
      </select>
      <!-- monthSelected -->
      <select class="d-inline-block form-select" id="month-select" name="monthSelected" {{#ifCond
        yearSelected '' }} disabled {{/ifCond}}>
        <option value="">所有月份</option>
        {{#each allMonths}}
          <option value="{{this}}" {{#ifCond ../monthSelected this}}selected{{/ifCond}}>
            {{this}}月
          </option>
        {{/each}}
      </select>
    </div>
    <!-- keyword -->
    <div class="search-block">
      <div class="search-input-block">
        <input id="search-input" class="form-control d-inline-block" type="search" name="keyword"
          value="{{keyword}}" placeholder="name" aria-label="Search">
        <i class="fas fa-times" id="search-icon"></i>
      </div>
      <button id="search-btn" class="btn btn-outline-info" type="submit">Search</button>
    </div>
  </form>
  <!-- 總金額 -->
  <div class="total-block mb-3">
    <div class="total-name-block">
      <span id="total-name"> 總金額：</span>
    </div>
    <div class="total-amount-block">
      <p id="total-amount">{{totalAmount}}</p>
    </div>
  </div>
  <!-- 清單 -->
  <div class="record-list-container">
    {{#each records}}
      <div class="record-list" tabindex="0" data-id="{{@index}}">
        <div class="edit-btn-phone-block"><a
            class=" d-inline-block btn btn-outline-info far fa-edit" id="edit-btn-phone"
            href="/records/edit/{{this._id}}"></a>
        </div>
        <div class="form-delete-phone-block">
          <form action="/records/delete/{{this._id}}?_method=DELETE" method="POST"
            class="d-inline-block" id="form-delete-phone">
            <input type="hidden" name="name" value="{{this.name}}">
            <button id="delete-btn-phone" type="submit"
              class="btn btn-outline-info d-inline-block far fa-trash-alt delete-button"></button>
          </form>
        </div>
        <div class="list-icon-block text-center">
          <i class="{{this.categoryId.icon}}" id="list-icon"
            data-name="{{this.categoryId.name}}"></i>
        </div>
        <div class="list-info-block">
          <span id="info-name">{{this.name}}</span>
          <span id="info-date">{{this.date}}</span>
        </div>
        <div class="list-amount-block text-right">
          <span id="list-amount">{{this.amount}}</span>
          <form action="/records/delete/{{this._id}}?_method=DELETE" method="POST"
            class="d-inline-block" id="form-delete">
            <a class=" d-inline-block btn btn-outline-info" id="edit-btn"
              href="/records/edit/{{this._id}}">修改</a>
            <input type="hidden" name="name" value="{{this.name}}">
            <button id="delete-btn" type="submit"
              class="btn btn-outline-info d-inline-block delete-button">刪除</button>
          </form>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="text-center">
    <a class="btn btn-info" id="create-btn" href="/records/new">新增支出</a>
  </div>
</div>
<script src="/javascripts/index-page.js"></script>