<select class="d-inline-block" id="category-select" name="categorySelected">
  <option value="">所有類別</option>
  {{#each categories}}
    <option value="{{this._id}}" {{#ifCond ../categoryIdSelected this._id}}selected{{/ifCond}}>
      {{this.name}}
    </option>
  {{/each}}
</select>
<form class="d-inline-block form-inline my-2 my-lg-0" action="/" method="get">
  <input type="hidden" name="categoryIdSelected" value="{{categoryIdSelected}}">
  <input id="search-input" class="form-control mr-sm-2" type="text" name="keyword"
    value="{{keyword}}" placeholder="name" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<h2 class="ml-5">總金額：{{totalAmount}}</h2>
<ul>
  {{#each records}}
    <li>
      <i class="{{this.categoryId.icon}}"></i> {{this.name}} {{this.date}} {{this.amount}}
      <form action="/records/delete/{{this._id}}?_method=DELETE" method="POST"
        class="d-inline-block">
        <a class="btn btn-outline-primary" href="/records/edit/{{this._id}}">修改</a>
        <button type="submit" class="btn btn-outline-danger">刪除</button>
      </form>
    </li>
  {{/each}}
</ul>
<a class="btn btn-outline-primary ml-5" href="/records/new">新增支出</a>
<script src="/javascripts/index-page.js"></script>