<form action="/records/new" method="POST">
  <h1>請輸入你的支出</h1>
  {{>message}}
  <input type="text" placeholder="名稱" name="name" value="{{name}}">
  <input type="date" placeholder="日期" name="date" value="{{date}}">
  <select name="categoryId" value="{{categoryId}}">
    {{#each categories}}
      <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <input type="number" placeholder="金額" name="amount" value="{{amount}}">
  <button type="submit">新增支出</button>
</form>